    <div class="user-name">
        {{ userName$ | async }}
    </div>
    <ul>
        <mat-list>
            <mat-list-item>
                <a mat-button routerLink="/dashboard" routerLinkActive="active-link">Inicio</a>
            </mat-list-item>
            <mat-list-item>
                <a mat-button routerLink="/dashboard/students" routerLinkActive="active-link" *ngIf="(authUser | async)?.role === 'admin'">Estudiantes</a>
            </mat-list-item>
            <mat-list-item>
                <a mat-button routerLink="/dashboard/courses" routerLinkActive="active-link">Cursos</a>
            </mat-list-item>
        </mat-list>
    </ul>
