.sidenav {
    padding: 10px;
  }
  .user-name{
    font-family: 'Azeret Mono', 'Azeret Mono Bold';
    font-size: 20px;
    color: #005CBB;
    text-align: center;
    font-weight: 500;
    margin-top: 20px;
  }

