@font-face {
    font-family: 'Azeret Mono';
    src: url('../assets/font/AzeretMono-Variable.ttf') format('truetype');
    font-weight: 600;
    font-style: normal;
  }
  
  @font-face {
    font-family: 'Azeret Mono';
    src: url('../assets/font/AzeretMono-VariableItalic.ttf') format('truetype');
    font-weight: 600;
    font-style: normal;
  }
  
  
  body{
    font-family: 'Azeret Mono' ;
  }