<section class="container-form">
    <p class="frase" appDirective>
        > npm install <span class="Conoci">ESTUDIANTE</span><br>
        > run gestionar_estudiantes
    </p>
    <h2 class="Empeza">Gestión <br> de estudiantes</h2>
    <p class="text-empe">Organizá la información. <br> Optimizá la administración.</p>
    <button class="buttonform" mat-flat-button color="primary" (click)="openFormDialog()">Agregar estudiante</button>
</section>
<div class="titulo-tabla">
    <h2>DevKoders</h2>
</div>
<student-table></student-table>
