<mat-drawer-container class="container" autosize>
    <mat-drawer #drawer class="sidenav" mode="over">
        <sidebar></sidebar>
    </mat-drawer>
    <mat-drawer-content>
        <div class="sidenav-content">
            <div class="logo">
                <img src="assets/logo-K.svg" alt="Logo" />
                <div class="login">
                    <button mat-icon-button color="primary" class="login-button" (click)="openFormDialog()">
                        <mat-icon aria-hidden="false" aria-label="Iniciar sesión" color="primary" class="icon-login">account_circle</mat-icon>
                      </button>
                </div>
            </div>
            <mat-toolbar>
                <button mat-icon-button aria-label="Abrir menú de navegación" (click)="toggleDrawer()"
                    class="menu-button">
                    <mat-icon>menu</mat-icon>
                </button>
            </mat-toolbar>
            <router-outlet></router-outlet>
        </div>
        <app-footer></app-footer>
    </mat-drawer-content>
</mat-drawer-container>