.logo {
  display: flex;
  justify-content: center;
  align-items: center;
}

.logo img {
  margin-top: 50px;
  margin-bottom: 16px;
  object-fit: contain;
  width: 150px;
}

.img-login {
  margin-left: 300px;
  height: 630px;
  object-fit: contain;
}

.container-log {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 620px;
}

.Title-log {
  font-family: "Azeret Mono", "Azeret Mono Bold";
  color: var(--mat-mdc-primary, #1976d2);
}

mat-card {
  width: 600px;
  height: 500px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 2px solid var(--mat-mdc-primary, #1976d2);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  border-radius: 10px;
}

mat-card-title {
  font-size: 1.5rem;
  margin: 20px 0;
}

mat-form-field {
  width: 100%;
  gap: 10px;
  margin-top: 25px;
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.register {
  margin-top: 20px;
  font-size: 16px;
  text-align: center;
  color: rgb(136, 136, 136);
}

.register a {
  color: rgb(136, 136, 136);
  text-decoration: none;
  font-size: 18px;
}
.register a:hover {
  color: var(--mat-mdc-primary, #1976d2);
  font-weight: bold;
  text-decoration: underline;
}

.button-login {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  max-width: 200px;
  margin: 20px auto 0 auto;
}
