.portada{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 500px 400px;
    grid-template-areas: 
      "titulo-principal img-port"
      "img-port2 img-port";
      width: 100%; 
      height: 100%;
      overflow: hidden; 
      box-sizing: border-box;
  }

  .titulo-principal{
    grid-area: titulo-principal;
    font-family: 'Azeret Mono', 'Azeret Mono Bold';
    font-weight: 700;
    font-size: 100px;
    margin-left: 50px;
    margin-top: 200px;
    
  }

  .texto-principal{
    grid-area: texto-principal;
    font-family: 'Azeret Mono',;
    font-weight: 400;
    font-size: 50px;
    margin-left: 30px;
    margin-top: -30px;
    margin-left: 50px;
  }

  .img-port{
    grid-area: img-port;
    right: 0;
    margin-right: 0px;
    margin-top: 30px;
  }

  .img-port img{
    width: 1300px;
    height: 100%;
    object-fit: contain;
  }

  .img-port2{
    width: 600px;
    margin-left: 50px;
    margin-top: 50px;
  }


  .container-form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #212121;
    overflow: hidden;
    
  }

  .frase{
    font-family: 'Azeret Mono', 'Azeret Mono Bold';
    font-weight: 700;
    color: white;
    margin-bottom: 20px;
    margin-top: -50px;
    margin-bottom: 70px;
  }

  .Conoci{
    font-size: 30px;
    color: #005CBB;
  }

  .Empeza{
    font-size: 40px;
    color: #005CBB;
    text-transform: uppercase;
    font-size: 100px;
    margin-bottom: 70px;
  }


  .text-empe{
    font-family: 'Azeret Mono', 'Azeret Mono Bold';
    font-weight: 200;
    color: white;
    font-size: 40px;
    margin-bottom: 70px;
  }

.titulo-tabla{
  font-family: 'Azeret Mono', 'Azeret Mono Bold';
  font-weight: 700;
  color: #212121;
  font-size: 50px;
  text-align: center;
  margin-bottom: 20px;
}

.buttonform{
    width: 400px;
    height: auto;
    font-size: 40px;
  }
  