<section class="portada">
    <div>
        <h1 class="titulo-principal">Formación</h1>
        <p class="texto-principal">[que habla tu <br> lenguaje.]</p>
    </div>
    <div class="img-port">
        <img src="assets/imagen secundaria.png" alt="Imagen secundaria">
    </div>
    <div class="img-port2">
        <img src="assets/texto secundario.svg" alt="Texto secundario">
    </div>
</section>

<section class="container-form">
    <p class="frase" appDirective>
        > npm install <span class="Conoci">CONOCIMIENTOS</span><br>
        > run aprendizaje
    </p>
    <h2 class="Empeza">Empezá hoy.</h2>
    <p class="text-empe">Aprendé con claridad. <br> Crecé con propósito.</p>
    <a class="buttonform" mat-flat-button routerLink="/dashboard/students" routerLinkActive="active-link" *ngIf="(authUser | async)?.role === 'admin'">Unirme ahora!!</a>
</section>

<div class="titulo-tabla">
    <h2>DevKoders</h2>
</div>
